/* The popup form - hidden by default */
.form-popup {
width: fit-content;
height: fit-content;
display: none;
margin: 0 auto;
position: fixed;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 16px;
z-index: 1;
border: 3px solid black;
}

/* Add styles to the form container */
.form-container {
padding: 10px;
background-color: white;
border-radius: 16px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 2px 0 22px 0;
border: none;
background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    width: 100px;
    color: white;
    margin: 2px;
    padding: 12px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}

.form-popup h1 {
text-align: center;
}

.date_select {
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    
.date_select input[type=date] {
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #2C74B3;
        border-radius: 4px;
    }

.lto_form_heading h1 {
    text-align: center;
}

.but_div {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
}

.buts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_lto_name {
    margin-top: 5px;
    height: fit-content;
}

.form_lto_name p {
    text-align: center;
}

.sd_div p {
    text-align: center;
}

.ed_div p {
    text-align: center;
}

.sd_div {
    margin-right: 5px;
}

.ed_div {
    margin-left: 5px;
}